<div class="row well bg-{{player.team}}">
    <div class="col-sm-2">
        <img src="{{player.avatar}}" alt="avatar" class="avatar">
    </div>
    <div class="col-sm-3">
        <p><strong>{{player.name}}</strong></p>
        <p><strong>Tags:</strong> {{player.humansTagged}}</p>
        <p><strong>Clan:</strong> {{player.clan}}</p>
    </div>
    <div class="col-sm-7">
      {{#each player.badges as |badge|}}
          <img data-toggle="tooltip" data-placement="top" data-html="true"
               title="<p><strong>{{badge.name}}</strong></p><p>{{badge.description}}</p>"
               src="images/badges/{{badge.image}}"
               alt="{{badge.name}} badge">
      {{/each}}
    </div>
</div>