<div class="row well bg-{{player.team}}">
    <div class="col-sm-2">
        <img src="{{player.avatar}}" alt="avatar" class="avatar">
    </div>
    <div class="col-sm-3">
        <p><strong>{{player.name}}</strong></p>
        <p><strong>Tags:</strong> {{player.humansTagged}}</p>
        <p><strong>Clan:</strong> {{player.clan}}</p>
    </div>
  {{#if admin}}
      <div class="col-sm-3">
          <p><strong>Email:</strong> {{player.email}}</p>
          <p><strong>Access:</strong> {{player.access}}</p>
      </div>
      <div class="col-sm-3">
          <ul class="nav nav-stacked nav-pills">
            {{#if (eq player.access 'inactive')}}
                <li class="active">
                  {{#link-to 'admin-players-avatar' player.id (query-params activate=true)}}Activate{{/link-to}}
                </li>
            {{/if}}

              <li>{{#link-to 'admin-players-view' player.id}}View{{/link-to}}</li>

            {{#if localUser.isAdmin}}
                <li>{{#link-to 'admin-players-edit' player.id}}Edit{{/link-to}}</li>
                <li>{{#link-to 'admin-players-delete' player.id}}Delete{{/link-to}}</li>
            {{/if}}
          </ul>
      </div>
  {{else}}
      <div class="col-sm-7">
        {{hvz-badges badges=player.badges}}
      </div>
  {{/if}}
</div>