<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 bg-{{profile.team}} text-center">
            <div class="vertical-space-sm"></div>
          {{#if profile.hasAvatar}}
              <img src="{{profile.avatar}}" alt="avatar" class="avatar">
          {{else}}
              <img src="images/no-avatar.png" alt="avatar" class="avatar">
          {{/if}}
            <h3>
                {{profile.name}}
                {{#if profile.canFollow}}
                    {{#if profile.following}}
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Stop receiving notifications about this player." {{action 'unfollow' profile.id}}>Unfollow</a>
                    {{else}}
                        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Receive notifications when this player is infected or uses an antivirus." {{action 'follow' profile.id}}>Follow</a>
                    {{/if}}
                {{/if}}
            </h3>
          {{#if profile.email}}
              <p><strong>Email:</strong> {{profile.email}}</p>
          {{/if}}
            <p><strong>Team:</strong> {{profile.team}}</p>
            <p>
                <strong>Clan:</strong> {{profile.clan}}

              {{#if profileForSelf}}
                  <a href="#" class="btn btn-primary btn-sm" {{action 'editClan'}}>Edit</a>
              {{/if}}
            </p>
          {{hvz-badges badges=profile.badges}}
        </div>
    </div>
  {{#if profile.zombieId}}
      <div class="row">
          <div class="col-sm-offset-2 col-sm-8 well text-center">
              <p><strong>Zombie Id:</strong> {{profile.zombieId}}</p>
              <p>
                  <strong>Human Ids:</strong>
                  <small class="text-muted">(give to zombies as a human)</small>
              </p>
            {{#each profile.humanIds as |humanId|}}
                <p>
                  {{#if humanId.active}}
                    {{humanId.idString}}
                  {{else}}
                      <s>{{humanId.idString}}</s>
                  {{/if}}
                </p>
            {{/each}}
          </div>
      </div>
  {{/if}}
  {{#if profile.apiKey}}
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
              <p>API Key: <a href="#" {{action 'toggleApiKey'}} class="btn btn-danger btn-sm">Toggle</a></p>
              <div id="apikey" class="hidden">
                  <p>{{profile.apiKey}}</p>
              </div>
          </div>
      </div>
  {{/if}}
    <div class="row">
        {{#if profileForSelf}}
            <div class="col-md-4 col-md-offset-1 text-center">
                <h1 class="header-text">
                {{profile.humansTagged}}
                {{t 'hvz.tags' numTags=profile.humansTagged}}
                </h1>
            {{#each infections as |infection|}}
                <p>
                    {{#link-to 'player' infection.human.id}}<strong>{{infection.human.name}}</strong>{{/link-to}}
                    <span title="{{format-time infection.time hour='numeric' minute='numeric' second='numeric' year='numeric' month='numeric' day='numeric'}}"
                            class="hover-text">
                        <em>{{format-relative infection.time}}</em>
                    </span>
                </p>
            {{/each}}
            </div>
            <div class="col-md-4 col-md-offset-1 text-center">
                <h1 class="header-text">
                    {{profile.followers.length}}
                    {{t 'hvz.followers' numFollowers=profile.followers.length}}
                </h1>
                {{#each profile.followers as |follower|}}
                    <p>{{#link-to 'player' follower.id}}<strong>{{follower.name}}</strong>{{/link-to}}</p>
                {{/each}}
            </div>
        {{else}}
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1 class="header-text">
                {{profile.humansTagged}}
                {{t 'hvz.tags' numTags=profile.humansTagged}}
                </h1>
            {{#each infections as |infection|}}
                <p>
                    {{#link-to 'player' infection.human.id}}<strong>{{infection.human.name}}</strong>{{/link-to}}
                    <span title="{{format-time infection.time hour='numeric' minute='numeric' second='numeric' year='numeric' month='numeric' day='numeric'}}"
                            class="hover-text">
                        <em>{{format-relative infection.time}}</em>
                    </span>
                </p>
            {{/each}}
            </div>
        {{/if}}
    </div>
</div>

{{#if profileForSelf}}
    <div class="modal fade" tabindex="-1" id="changeClanModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">Change Clan</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="clanInput">Clan Name</label>
                        <input type="text" class="form-control" id="clanInput" placeholder="Clan"
                               value="{{profile.clan}}" maxlength="32">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" {{action 'saveClan'}}>Save</button>
                </div>
            </div>
        </div>
    </div>
{{/if}}
