<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-md-5 col-sm-4">
          {{#link-to 'admin-badgecodes-create' class='btn btn-primary'}}
              <span class="glyphicon glyphicon-plus"></span>
          {{/link-to}}
        </div>
    </div>

    <div class="vertical-space"></div>

  {{#each model.badgecodes as |bc|}}
      <div class="row well">
          <div class="col-sm-12">
              <div class="row">
                  <div class="col-sm-8">
                      <h3>
                          #{{bc.id}}:

                        {{#if bc.active}}
                          {{bc.idString}}
                        {{else}}
                            <s>{{bc.idString}}</s>
                        {{/if}}

                        {{#if bc.user}}
                            <strongs>Used by:</strongs> {{bc.user.name}}
                        {{/if}}
                      </h3>
                      <p>
                          <strong>Gives: </strong> {{bc.badgeID}}
                      </p>
                      <p><strong>Description:</strong> {{bc.description}}</p>
                  </div>
                  <div class="col-sm-4">
                      <ul class="nav nav-stacked nav-pills">
                          <li>{{#link-to 'admin-badgecodes-edit' bc.id}}Edit{{/link-to}}</li>
                          <li>{{#link-to 'admin-badgecodes-delete' bc.id}}Delete{{/link-to}}</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  {{else}}
      <div class="row">
          <div class="col-md-12 text-center">
              <h1>There were no badge codes found.</h1>
          </div>
      </div>
  {{/each}}
</div>