<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Edit Player</h2>
            <h3>{{model.player.name}} : {{model.player.email}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <form>
                <div class="form-group">
                    <label for="playerName">Name</label>
                    <input type="text" id="playerName" class="form-control" placeholder="player name"
                           value="{{model.player.name}}">
                </div>

                <div class="form-group">
                    <label for="playerEmail">Email</label>
                    <input type="text" id="playerEmail" class="form-control" placeholder="player email"
                           value="{{model.player.email}}">
                </div>

                <div class="form-group">
                    <label for="playerClan">Clan</label>
                    <input type="text" id="playerClan" class="form-control" placeholder="player clan"
                           value="{{model.player.clan}}">
                </div>

                <div class="form-group">
                    <label for="playerTeam">Team</label>
                    <select class="form-control" id="playerTeam">
                      {{#if (eq model.player.team 'human')}}
                          <option value="human" selected>Human</option>
                          <option value="zombie">Zombie</option>
                      {{else}}
                          <option value="human">Human</option>
                          <option value="zombie" selected>Zombie</option>
                      {{/if}}
                    </select>


                    <p class="help-block">
                        <strong>Warning:</strong>
                        Don't change their team here unless you know what you are doing! Use the infect/heal buttons
                      {{#link-to 'admin-players-view' model.player.id}}here{{/link-to}} instead.
                    </p>
                </div>

                <div class="form-group">
                    <label for="playerAccess">Access</label>
                    <select class="form-control" id="playerAccess">
                      {{#if (eq model.player.access 'inactive')}}
                          <option value="inactive" selected>Inactive</option>
                      {{else}}
                          <option value="inactive">Inactive</option>
                      {{/if}}

                      {{#if (eq model.player.access 'player')}}
                          <option value="player" selected>Player</option>
                      {{else}}
                          <option value="player">Player</option>
                      {{/if}}

                      {{#if (eq model.player.access 'hidden')}}
                          <option value="hidden" selected>Hidden</option>
                      {{else}}
                          <option value="hidden">Hidden</option>
                      {{/if}}

                      {{#if (eq model.player.access 'mod')}}
                          <option value="mod" selected>Moderator</option>
                      {{else if model.localUser.isAdmin}}
                          <option value="mod">Moderator</option>
                      {{/if}}

                      {{#if (eq model.player.access 'admin')}}
                          <option value="admin" selected>Admin</option>
                      {{else if model.localUser.isAdmin}}
                          <option value="admin">Admin</option>
                      {{/if}}

                      {{#if (eq model.player.access 'superadmin')}}
                          <option value="superadmin" selected>Superadmin</option>
                      {{else if model.localUser.isSuperAdmin}}
                          <option value="superadmin">Superadmin</option>
                      {{/if}}
                    </select>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                          {{#if model.player.printed}}
                              <input type="checkbox" id="playerPrinted" checked>
                          {{else}}
                              <input type="checkbox" id="playerPrinted">
                          {{/if}}
                            Printed
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                          {{#if model.player.usedAV}}
                              <input type="checkbox" id="playerUsedAV" checked>
                          {{else}}
                              <input type="checkbox" id="playerUsedAV">
                          {{/if}}
                            Used Antivirus
                        </label>
                    </div>
                </div>

                <button id="saveButton" type="submit"
                        class="btn btn-default pull-right" {{action 'save' model.player.id}}>
                    Save
                </button>
            </form>
        </div>
    </div>
</div>