<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Edit News Post</h2>
            <h3>{{model.post.title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <form>
                <div class="form-group">
                    <label for="postTitle">Title</label>
                    <input type="text" id="postTitle" class="form-control" placeholder="title" value="{{model.post.title}}">
                </div>

                <div class="form-group">
                    <label for="postSummary">Summary</label>
                    <input type="text" id="postSummary" class="form-control" placeholder="summary" value="{{model.post.summary}}">
                    <p class="help-block">
                        This is used on the front page, and as the text for the announcement if the post is marked as
                        important.
                    </p>
                </div>

                <div class="form-group">
                    <label for="postBody">Body</label>
                    <textarea id="postBody" class="form-control">{{{model.post.body}}}</textarea>
                </div>

                <button id="saveButton" type="submit" class="btn btn-default pull-right" {{action 'save' model.post.id}}>
                    Save
                </button>
            </form>
        </div>
    </div>
</div>