<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 text-center">
          {{#if model.player.hasAvatar}}
              <img src="{{model.player.avatar}}" alt="avatar" class="avatar">
          {{else}}
              <img src="images/no-avatar.png" alt="avatar" class="avatar">
          {{/if}}
            <ul class="nav nav-pills">
              {{#if (eq model.player.access 'inactive')}}
                  <li class="active">
                    {{#link-to 'admin-players-avatar' model.player.id (query-params activate=true)}}Activate{{/link-to}}
                  </li>
              {{/if}}

                <li>{{#link-to 'admin-players-avatar' model.player.id}}Avatar{{/link-to}}</li>

              {{#if model.localUser.isAdmin}}
                  <li>{{#link-to 'admin-players-edit' model.player.id}}Edit{{/link-to}}</li>
                  <li>{{#link-to 'admin-players-delete' model.player.id}}Delete{{/link-to}}</li>
              {{/if}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4 bg-{{model.player.team}}">
            <h3>{{model.player.name}}</h3>
            <p><strong>Email:</strong> {{model.player.email}}</p>
            <p><strong>Team:</strong> {{model.player.team}}</p>
          {{#if model.localUser.isAdmin}}
            {{#if (eq model.player.team 'human')}}
                <div class="btn-group" id="infectGroup">
                    <button type="button" class="btn btn-danger" {{action 'infect' model.player.id true}}>
                        OZ
                    </button>
                    <button type="button" class="btn btn-success" {{action 'infect' model.player.id false}}>
                        Infect
                    </button>
                </div>
            {{else}}
                <div class="btn-group" id="heal-group">
                    <button type="button" class="btn btn-danger" {{action 'heal' model.player.id}}>
                        Heal
                    </button>
                </div>
            {{/if}}
          {{/if}}
            <p><strong>Clan:</strong> {{model.player.clan}}</p>
            <p><strong>Access:</strong> {{model.player.access}}</p>

          {{hvz-badges badges=model.player.badges}}
        </div>
        <div class="col-sm-4">
            {{#if model.localUser.isSuperAdmin}}
                <p>
                    <strong>API Key:</strong> {{model.player.apiKey}}
                    <a href="{{model.player.qrLoginURL}}" class="btn btn-danger" target="_blank">QR Login</a>
                </p>
                <p><strong>API Failures:</strong> {{model.player.failures}} / {{model.player.maxFailures}}</p>
                <p>
                    <strong>Notification Keys:</strong>
                    <small class="text-muted">These are OneSignal keys. Each represents a device the user has signed in to that can receive notifications.</small>
                </p>
                <ul>
                    {{#each model.player.notificationKeys as |notificationKey|}}
                        <li>{{notificationKey}}</li>
                    {{else}}
                        <li>No Keys Available (notifications disabled)</li>
                    {{/each}}
                </ul>
                {{#if model.player.notificationKeys.length}}
                    <button id="notificationButton" type="button" class="btn btn-warning" {{action 'sendNotificationDialog'}}>
                        Send Notification
                    </button>
                {{else}}
                    <button id="notificationButton" type="button" class="btn btn-warning" disabled="true">
                        Notifications Disabled
                    </button>
                {{/if}}
            {{/if}}
            <p><strong>Zombie Id:</strong> {{model.player.zombieId}}</p>
            <p>
                <strong>Human Ids:</strong>
                <small class="text-muted">(give to zombies as a human)</small>
            </p>
            <ul>
              {{#each model.player.humanIds as |humanId|}}
                {{#if humanId.active}}
                    <li>{{humanId.idString}}</li>
                {{else}}
                    <li><s>{{humanId.idString}}</s></li>
                {{/if}}
              {{/each}}
            </ul>
            <button id="generateButton" type="button" class="btn btn-default" {{action 'generateId' model.player.id}}>
                Generate
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <h1 class="header-text">
              {{model.player.humansTagged}}
              {{t 'hvz.tags' numTags=model.player.humansTagged}}
            </h1>
          {{#each model.infections as |infection|}}
              <p>
                  <strong>{{#link-to 'admin-players-view' infection.human.id}}{{infection.human.name}}{{/link-to}}</strong>
                  <span title="{{format-time infection.time
                  hour='numeric' minute='numeric' second='numeric' year='numeric' month='numeric' day='numeric'}}"
                        class="hover-text">
                      <em>{{format-relative infection.time}}</em>
                  </span>
              </p>
          {{/each}}
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="sendNotificationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Send Notification</h4>
            </div>
            <div class="modal-body">
                <p>
                    This will send a notification to all <strong>{{model.player.notificationKeys.length}}</strong>
                    devices registered to this user's account. This number may not be accurate - if they have turned off
                    notifications on any devices then those devices will not receive a notification.
                </p>
                <div class="form-group">
                    <label for="notificationTitle">Notification Title</label>
                    <input type="text" class="form-control" id="notificationTitle" placeholder="Title">
                    <label for="notificationMessage">Notification Message</label>
                    <input type="text" class="form-control" id="notificationMessage" placeholder="Message">
                    <label for="notificationUrl">URL</label>
                    <input type="text" class="form-control" id="notificationUrl" placeholder="URL">
                    <span class="help-block">If left unspecified, the notification will lead to the status page.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="sendNotificationButton" class="btn btn-danger" {{action 'sendNotification' model.player.id}}>Send</button>
            </div>
        </div>
    </div>
</div>