<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="visible-lg visible-md navbar-brand navbar-brand-centered">
              {{#link-to "status"}}
                  <img class="logo" src="images/hvzlogo_small.png" alt="{{t 'hvz.shortLoc'}}">
              {{/link-to}}
            </div>
            <div class="visible-xs visible-sm navbar-brand">
              {{t 'hvz.shortLoc'}}
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'status'}}Status{{/link-to}}</li>
                <li>{{#link-to 'players' (query-params page='' sort='' searchTerm='')}}Players{{/link-to}}</li>
                <li>{{#link-to 'infections' (query-params page='')}}Infections{{/link-to}}</li>

              {{#if model.localUser.loggedIn}}
                  <li>{{#link-to 'missions'}}Missions{{/link-to}}</li>
              {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{#link-to 'rules'}}Rules{{/link-to}}</li>
                <li>{{#link-to 'infect' (query-params readHumanId='' readZombieId='')}}Register Infection{{/link-to}}</li>

              {{#if model.localUser.isModerator}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>{{#link-to 'admin-players'}}Players{{/link-to}}</li>

                        {{#if model.localUser.isAdmin}}
                          <li>{{#link-to 'admin-rules'}}Rules{{/link-to}}</li>
                          <li>{{#link-to 'admin-print'}}Print{{/link-to}}</li>
                        {{/if}}
                    </ul>
                </li>
              {{/if}}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      {{#if model.localUser.loggedIn}}
                          <li>{{#link-to 'profile'}}Profile{{/link-to}}</li>
                          <li><a href="#" {{action 'logout'}}>Logout</a></li>
                      {{else}}
                          <li><a href="#" {{action 'login'}}>Login</a></li>
                          <li><a href="#" {{action 'register'}}>Register</a></li>
                      {{/if}}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{outlet}}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <p class="text-muted pull-right">
                    Copyright &copy; 2016 |
                    <a target="_blank" href="https://github.com/redxdev/hvzsite">Source Code</a>
                </p>
            </div>
        </div>
    </div>
</footer>