<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="visible-lg visible-md navbar-brand navbar-brand-centered">
              {{#link-to "status"}}
                  <img class="logo" src="images/hvzlogo_small.png" alt="{{t 'hvz.shortLoc'}}">
              {{/link-to}}
            </div>
            <div class="visible-xs visible-sm navbar-brand">
              {{t 'hvz.shortLoc'}}
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'status'}}Status{{/link-to}}</li>
                <li>{{#link-to 'players' (query-params page='' sort='' searchTerm='')}}Players{{/link-to}}</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Infections <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>{{#link-to 'infections' (query-params page='')}}List{{/link-to}}</li>
                        <li>{{#link-to 'map'}}Map{{/link-to}}</li>
                        <li>{{#link-to 'spread'}}Spread{{/link-to}}</li>
                    </ul>
                </li>

              {{#if (or model.localUser.loggedIn model.date.inPast)}}
                  <li>{{#link-to 'missions'}}Missions{{/link-to}}</li>
              {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{#link-to 'rules'}}Rules{{/link-to}}</li>
                <li>{{#link-to 'infect' (query-params readHumanId='' readZombieId='')}}Register
                    Infection{{/link-to}}</li>

              {{#if model.localUser.isModerator}}
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li>{{#link-to 'admin-players' (query-params page='' searchTerm='')}}Players{{/link-to}}</li>
                          <li>{{#link-to 'admin-missions'}}Missions{{/link-to}}</li>
                          <li>{{#link-to 'admin-polls'}}Polls{{/link-to}}</li>

                        {{#if model.localUser.isAdmin}}
                            <li>{{#link-to 'admin-antiviruses'}}Antiviruses{{/link-to}}</li>
                            <li>{{#link-to 'admin-news'}}News{{/link-to}}</li>
                            <li>{{#link-to 'admin-rules'}}Rules{{/link-to}}</li>
                            <li>{{#link-to 'admin-print'}}Print{{/link-to}}</li>
                        {{/if}}
                      </ul>
                  </li>
              {{/if}}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      {{#if model.localUser.loggedIn}}
                          <li>{{#link-to 'profile'}}Profile{{/link-to}}</li>
                          <li><a href="#" {{action 'logout'}}>Logout</a></li>
                      {{else}}
                          <li><a href="#" {{action 'login'}}>Login</a></li>
                          <li><a href="#" {{action 'register'}}>Register</a></li>
                      {{/if}}
                    </ul>
                </li>

              {{#if model.localUser.loggedIn}}
                <!-- Notifications -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span class="glyphicon glyphicon-bell"></span>
                        {{#if model.notifications.unread}}
                            <span class="badge badge-notify">{{model.notifications.unread}}</span>
                        {{/if}}
                    </a>
                    <ul class="dropdown-menu notify-drop">
                        <div class="notify-drop-title">
                            <div class="row">
                                <div class="col-xs-6">Notifications</div>
                            </div>
                        </div>
                        <div class="drop-content">
                            {{#each model.notifications.feed as |feed|}}
                                <li class="{{feed.class}}">
                                    <div class="col-xs-3">
                                        <div class="notify-image">
                                            {{#if feed.image}}
                                                <img src="{{feed.image}}" alt="" width="45" height="45">
                                            {{else}}
                                                <img src="https://placehold.it/45x45" alt=""  width="45" height="45">
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="col-xs-9 no-padding">
                                        <p>
                                            {{#each feed.message as |part|}}
                                                {{#if part.string}}
                                                    {{part.value}}
                                                {{else if part.user}}
                                                    {{#link-to "player" part.id}}{{part.value}}{{/link-to}}
                                                {{else}}
                                                    NR?
                                                {{/if}}
                                            {{/each}}
                                        </p>
                                    </div>
                                </li>
                            {{else}}
                                <li>
                                    <div class="col-xs-9 no-padding text-center">
                                        <p><strong>You don't have any notifications!</strong></p>
                                    </div>
                                </li>
                            {{/each}}
                        </div>
                        <div class="notify-drop-footer text-center">
                            <a href="#" {{action 'notificationsViewed'}}><span class="glyphicon glyphicon-eye-open"></span> Mark all as Read</a>
                        </div>
                    </ul>
                </li>
              {{/if}}
            </ul>
        </div>
    </div>
</nav>

{{#if model.announcement}}
    <div class="container">
        <div class="vertical-space-sm"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info announcement" {{action 'openAnnouncement' model.announcement.id}}>
                    <strong>Announcement:</strong>
                  {{model.announcement.summary}}

                    <em class="pull-right">Click for more info...</em>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{outlet}}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <p class="text-muted pull-right">
                    Copyright &copy; 2017 |
                  {{#link-to 'credits'}}Credits{{/link-to}} |
                    <a target="_blank" href="https://github.com/redxdev/hvzsite/tree/master/docs">API</a> |
                  {{#link-to 'contact'}}Contact{{/link-to}}
                </p>
            </div>
        </div>
    </div>
</footer>