<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-md-12 text-center">
          {{#each model.infections as |infection|}}
              <p>
                  <strong>{{infection.human}}</strong>
                  was tagged by
                  <strong>{{infection.zombie}}</strong>
                  <span title="{{format-time infection.time
                  hour='numeric' minute='numeric' second='numeric' year='numeric' month='numeric' day='numeric' timeZone='UTC'}}" class="hover-text">
                      <em>{{format-relative infection.time}}</em>
                  </span>
              </p>
          {{else}}
              <div class="row">
                  <div class="col-md-12 text-center">
                      <h1>There were no infections found.</h1>
                  </div>
              </div>
          {{/each}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <ul class="pager">
              {{#if model.previousPage}}
                  <li>{{#link-to 'infections' (query-params page=model.previousPage)}}&larr; Previous{{/link-to}}</li>
              {{/if}}

              {{#if model.nextPage}}
                  <li>{{#link-to 'infections' (query-params page=model.nextPage)}}Next &rarr;{{/link-to}}</li>
              {{/if}}
            </ul>
        </div>
    </div>
</div>