<div class="container">
    <div class="vertical-space-sm"></div>

    <div class="row">
        <div class="col-md-5 col-sm-4">
            <div class="row">
                <div class="col-md-1 col-md-offset-2">
                    Sort:
                </div>
                <div class="col-md-6">
                    <ul class="nav nav-pills">
                      {{#if (eq model.sort 'team')}}
                          <li class="active">
                            {{#link-to 'players' (query-params sort='team' page=1)}}Team{{/link-to}}
                          </li>
                      {{else}}
                          <li>
                            {{#link-to 'players' (query-params sort='team' page=1)}}Team{{/link-to}}
                          </li>
                      {{/if}}

                      {{#if (eq model.sort 'clan')}}
                          <li class="active">
                            {{#link-to 'players' (query-params sort='clan' page=1)}}Clan{{/link-to}}
                          </li>
                      {{else}}
                          <li>
                            {{#link-to 'players' (query-params sort='clan' page=1)}}Clan{{/link-to}}
                          </li>
                      {{/if}}

                      {{#if (eq model.sort 'mods')}}
                          <li class="active">
                            {{#link-to 'players' (query-params sort='mods' page=1)}}Mods{{/link-to}}
                          </li>
                      {{else}}
                          <li>
                            {{#link-to 'players' (query-params sort='mods' page=1)}}Mods{{/link-to}}
                          </li>
                      {{/if}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-2 col-sm-8">
            <form>
                <div class="input-group">
                    <input id="searchTerm" type="text" class="form-control" placeholder="Search" value="{{searchTerm}}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" {{action 'search'}}>
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="vertical-space"></div>

    <div id="player-list">
      {{#each model.players as |player|}}
        {{hvz-player player=player}}
      {{else}}
          <div class="row">
              <div class="col-md-12 text-center">
                  <h1>There were no players found.</h1>
              </div>
          </div>
      {{/each}}
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <ul class="pager">
              {{#if model.previousPage}}
                  <li>{{#link-to 'players' (query-params page=model.previousPage)}}&larr; Previous{{/link-to}}</li>
              {{/if}}

              {{#if model.nextPage}}
                  <li>{{#link-to 'players' (query-params page=model.nextPage)}}Next &rarr;{{/link-to}}</li>
              {{/if}}
            </ul>
        </div>
    </div>
</div>