<div class="jumbotron header">
    <div class="container header-text text-center">
      {{#if model.date.inPast}}
          <h1><strong>Game Over</strong></h1>
      {{else}}
          <h1 id="countdown">
              <strong>Loading...</strong>
          </h1>
      {{/if}}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well col-sm-5 text-center bg-human large-text">
            <h1><strong>{{model.score.humans}}</strong></h1>
          {{t 'hvz.humans' numHumans=model.score.humans}}
        </div>
        <div class="col-sm-2 text-center large-text">
            <h1>VS</h1>
        </div>
        <div class="well col-sm-5 text-center bg-zombie large-text">
            <h1><strong>{{model.score.zombies}}</strong></h1>
          {{t 'hvz.zombies' numZombies=model.score.zombies}}
        </div>
    </div>
    <div class="row">
        {{#if model.frontpage}}
            <div class="col-md-8 col-md-offset-2 well">
                {{{model.frontpage.body}}}
            </div>
        {{/if}}
    </div>
    <div class="row">
        <div id="infection-chart" class="col-md-12"></div>
    </div>
    <div class="row">
      {{#if model.infections.length}}
          <div class="col-sm-6 text-center">
              <h1>Recent Infections</h1>
            {{#each model.infections as |infection|}}
                <p>
                  {{#link-to 'player' infection.human.id }}<strong>{{infection.human.name}}</strong>{{/link-to}}
                    was tagged by
                  {{#link-to 'player' infection.zombie.id}}<strong>{{infection.zombie.name}}</strong>{{/link-to}}
                    <span title="{{format-time infection.time
                    hour='numeric' minute='numeric' second='numeric' year='numeric' month='numeric' day='numeric'}}"
                          class="hover-text">
                      <em>{{format-relative infection.time}}</em>
                    </span>
                </p>
            {{/each}}
          </div>
      {{else}}
          <div class="col-sm-6"></div>
      {{/if}}

      {{#if model.topPlayers.length}}
          <div class="col-sm-6 text-center">
              <h1>Top Zombies</h1>
            {{#each model.topPlayers as |player|}}
              {{#if (gt player.humansTagged 0)}}
                  <p>
                    {{#link-to 'player' player.id}}<strong>{{player.name}}</strong>{{/link-to}}
                      with
                      <strong>{{player.humansTagged}}</strong>
                      tags
                  </p>
              {{/if}}
            {{/each}}
          </div>
      {{/if}}
    </div>
  {{# if model.posts.length}}
      <div class="row">
          <div class="col-sm-12 text-center">
              <h1>News</h1>
            {{#each model.posts as |post|}}
                <p>
                  {{#link-to 'news' post.id}}{{post.title}}{{/link-to}}
                    <em>{{format-relative post.postDate}}</em>
                </p>
            {{/each}}
          </div>
      </div>
  {{/if}}
</div>